Package: cetic-6lbr
Version: 1.4.O
Architecture: armhf
Maintainer: 6LBR Team <6lbr@cetic.be>
Installed-Size: 1966
Depends: libc6 (>= 2.28), libncurses6 (>= 6), libtinfo6 (>= 6), bridge-utils
Section: net
Priority: extra
Homepage: https://github.com/cetic/6lbr
Description: CETIC 6LoWPAN Border Router
 CETIC 6LBR is an enhanced version of Contiki's 6LoWPAN Border Router solution.
 It provides network configuration and monitoring, and supports out of the box redundant and distributed operating modes.
